/* This is how to comment in css */
/* -------------------
colors
---------------------*/
:root{
    --bg-color :rgb(114, 33, 94);
    --text-color: white;
    --primary-color: rgb(245, 63, 229);
    --secondary-color: plum;
}



@font-face {
    font-family:'Absans';
    src: url('../fonts/Absans-Regular.woff2');
}
@font-face {
    font-family:'SpratVF';
    src: url('../fonts/SpratVF.woff2');
}
/* -------------------
Base Styles
---------------------*/

body {
    background-color:var(--bg-color); 
    color: var(--text-color);
    /* max-width: 1000px; */
    margin: auto;
    font-family: 'Absans', 'sans-serif';

    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
}

body.light {
    background: lemonchiffon;
    color: darkolivegreen;

}
body.dark {
    background: rgb(4, 51, 51);
    color: lemonchiffon;

}

h1  {
    font-family: "Rubik Scribble", system-ui;
    font-size: 60px;
}
h2  {
    font-family: 'SpratVF';
    font-stretch: 100%;
    font-weight: 100%;
    transition: font-weight 0.3s ease;
    color: var(--secondary-color)
}
h3  {
    font-family: 'SpratVF';
    font-stretch: 100%;
    font-weight: 100%;
    transition: font-weight 0.3s ease;
    color: var(--primary-color)

}

h2:hover   {
    font-weight: 200;
}
main{
    max-width: 100%;
}

img {
    display: block;
    max-width: 100%;
    padding: 2rem; 

    border: 2px solid var(--secondary-color);


    box-sizing: border-box;
}

a { 
    var(--text-color);
}

p {
    font-size: 18px;
    font-family: Verdana, sans-serif;
}

h2 {
    color: yellowgreen;
    var(--secondary-color);
}
h4 {
    color: palegreen;
}

.highlighted {
    background-color: plum;
    font-weight: bold;
}


.navigation {
    /* padding: 1rem; */
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospaces;
    line-height: 1.2rem;
    width: 18rem;
    margin: 0;
    display: none;
}


.navigation ol  {
    list-style: none;
}


.navigation a {
    color: yellowgreen;
}
.navigation li {
    border-bottom: 1px solid plum;
    
}
.navigation a:hover {
    color: rgb(235, 82, 222);
}

h1 {};

h2 {
    color: rgb(3, 109, 135);
}
h2 + p { 
    text-indent: 2rem;
}
h3 + p { 
    text-indent: 2rem;

}
img{
    display: block;
    max-width: 100%;
    
}

    
/* 
-----------------------
Media Queries 
-----------------------
*/
/* small screens */
.navigation {
    display:none;
}
@media screen and (min-width: 30rem){
    .navigation {
       display: block;
    }
}
/* medium screens */
@media screen and (min-width: 500px){
    .navigation{
        display:block;
        order: 2;
    }

    main {
        order: 1;
    }
}

/* Large screens */
/* @media screen and (min-width: 1000px){
    .navigation{
        order: 1;
        flex-basis: 300px;

        position: sticky;
        top: 50px;
    }

    main {
        order: 2;
        flex-basis: calc(100% - 800px - 20px);
    }
} */
/* Large screens */
@media screen and (min-width: 60rem){
    .navigation{
        order: 1;
        flex-basis: 18rem;

        position: sticky;
        top: 1rem;
    }

    main {
        order: 2;
        flex-basis: calc(100% - 18rem - 2rem);
        align-items: flex-start;
    }
}